.artikelKlein{
    width: 200px;
}
.artikelGroot {
    width: 400px;
}
.geenLijn{
    text-decoration:none;
}
.fout{
    color: red;
    font-weight: bold;
}
.noBorders{
    border: hidden;
}
.rechts{
    right: 0px;
    text-align:right;
}
.midden{
    vertical-align: middle;
    transform: translateY("-50%");
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: 100%;

}
