.artikelKlein{
    width: 200px;
}
.artikelGroot {
    width: 400px;
}
.geenLijn{
    text-decoration:none;
}
.fout{
    color: red;
    font-weight: bold;
}
.noBorders{
    border: hidden;
}
.rechts{
    right: 0px;
    text-align:right;
}