.artikelKlein{
    width: 200px;
}
.artikelGroot {
    height:380px;
}
.geenLijn{
    text-decoration:none;
}
.fout{
    color: red;
    font-weight: bold;
}
.noBorders{
    border: hidden;
}
.rechts{
    right: 0px;
    text-align:right;
}
.midden{
    vertical-align: middle;
    transform: translateY("-50%");
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: 100%;

}
.icons {
    display: none;
}
.icon {
    display: inline-block;
    fill: #606468;
    font-size: 16px;
    font-size: 1rem;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}
.rechts{
    width:100%;
    align-content:end;
}
.links{
    width:100%;
    align-content:start;
}
.tekstVakVol{
    width:400px;
    height:40px;
}
.tekstVak3Kwart {
    width: 300px;
    height: 40px;
}
.tekstVakHalf {
    width: 200px;
    height: 40px;
}
.tekstVak1Vierde {
    width: 100px;
    height: 40px;
}
