@model LoginCredentials;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    
</head>
<body class="m-3 midden">
    <form asp-action="Login" asp-controller="auth">
        <p class="text-center"><img class="artikelKlein" src="~/images/HighSpiritsLogo.png" /></p><h2>Inloggen</h2>
        <table class="table">
            <tr>
                <td>Gebruikersnaam</td>
                <td><input type="text" asp-for="Gebruikersnaam" /><span class="fout" asp-validation-for="Gebruikersnaam"></span></td>
            </tr>
            <tr>
                <td>Wachtwoord</td>
                <td><input type="password" asp-for="Wachtwoord" /><span class="fout" asp-validation-for="Wachtwoord"></span></td>
            </tr>
        </table>
        <p><input class="btn btn-dark" type="submit" value="Meld mij aan..." /> <a asp-action="Registreer" class="geenLijn">Registreer hier...</a></p>
        <p class="fout">@ViewBag.fout</p>
    </form>
</body>
</html>
